doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Moo Shu Grill is the new twist on classical Chinese food.")
    meta(name='author',content="Thomas Yang")
    title Moo Shu Grill
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.3.0.2.min.css')
    link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel="stylesheet")
    link(rel='stylesheet',href='/stylesheets/msg.css')
    link(href='http://fonts.googleapis.com/css?family=Arvo|PT+Sans', rel='stylesheet', type='text/css')
    | asfd
  body
    asdf
    block content
    asdf
