
link(rel='stylesheet', href='/stylesheets/bootstrap.3.0.2.min.css')
link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel="stylesheet")
link(rel='stylesheet',href='/stylesheets/msg.css')
link(href='http://fonts.googleapis.com/css?family=Arvo|PT+Sans', rel='stylesheet', type='text/css')
link(rel="stylesheet", type="text/css", href="/stylesheets/order.css")

.page
  img(src="mooshugrill.jpg", width="300px", class='logo')
  .top-right
    h3 Delivery Menu
    a(href='http://mooshugrill.com') www.mooshugrill.com <br>
    | e: info@mooshugrill.com <br>
    | p: 212.695.5995 / f: 347.987.3758<br>
  .clearfix
    table.table
      tr
        td
          i.glyphicon.glyphicon-star.icon-heading
          | Five-spice <u>Pork
        td
          i.glyphicon.glyphicon-star.icon-heading
          | Taiwanese Basil <u>Chicken
        td
          i.glyphicon.glyphicon-star.icon-heading
          | XOXO <u>Beef
        td
          i.glyphicon.glyphicon-star.icon-heading
          | Pan Fried <u>Tofu
        td
          i.glyphicon.glyphicon-star.icon-heading
          | Peking <u>Duck

    p Choice of three (3) moo shus or one (1) rice bowl.
      i.glyphicon.glyphicon-star.icon-heading#braised
      | Braised Pork <u>Belly</u> (rice bowls only)
    table.table-bordered.table-striped.table
      tr
        td.td1 Order #
        td.td2 Name
        td.td3 First
        td.td4 Second
        td.td5 Third
        td.td6 Rice Bowl
        td.td7 Notes
      tr
        td.td1 0
        td.td2 T. Yang
        td.td3 Pork
        td.td4 Chicken
        td.td5 Tofu
        td.td6
        td.td7 no cilantro
      tr
        td.td1 1
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 2
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 3
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 4
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 5
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 6
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 7
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 8
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 9
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
      tr
        td.td1 10
        td.td2
        td.td3
        td.td4
        td.td5
        td.td6
        td.td7
    form.form-horizontal(role="form")
      .form-group
        label.col-sm-2.control-label(for="inputEmail1") Organizer
        .col-sm-5
          input.form-control(type="email")
        label.col-sm-2.control-label(for="inputPassword1") Date & Time
        .col-sm-3
          input.form-control(type='text')
      .form-group
        label(for="inputPassword1").col-sm-2.control-label Location
        .col-sm-10
          input(type="text").form-control
  p For a more detailed menu description, please visit our website at
    a(href='http://mooshugrill.com') www.mooshugrill.com
  p Please complete this form and email or fax the order back to us and wait for a confirmation.


<link href='http://fonts.googleapis.com/css?family=Arvo|PT+Sans' rel='stylesheet' type='text/css'>
